* {
    box-sizing:border-box;
}

body{
    margin:0;
}

.nav {
    background-color: "white";
    color:"white";
    display:"flex";
    justify-content: space-between;
    align-items:center;
    padding:.25rem;
    height:100%;
    font-family:'Courier New', Courier, monospace
}